<h1>ACCOUNT DELETER</h1>

<p>
Would you like to delete your account?
</p>
<br>
<a href="/delete">YES</a>



<!-- <div id='deleter' method="POST" action="/delete-account">

	<button id='deletebutton'>
		<input id="delete_button" type='submit' value='Delete' />
	</button>

</div> -->