<h1>HOME</h1>

<nav>
	<ul>
		<li><a class="active" href="/home">Home</a></li>
		<li><a href="/profile">My Profile</a></li>
		<li><a href="/logout">Logout</a></li>
	</ul>
</nav>



<div class="form">
<form id="post" method="POST" action="/new-post">

<textarea id="title" class='input' name='title' rows="1" cols='50' size="20"></textarea><br>
<textarea id="post" class="input" name="body" maxlength="150"></textarea>

<input id="button" type="submit">	
</form>
</div>

<% @posts.reverse.each do |x| %>
<h2><%= x.title %></h2>
<p><%= x.body %></p>
<br>
<% end %>
