
<div id="log">

<!--LOG-IN FORM-->

	<form id="loginform" method="POST" action="/sign-in">   
		<label for="username">Username</label>   
		<input type="text" name="username">   
		<label for="password">Password</label>   
		<input type="password" name="password">   
		<input id="sub" type="submit"> 
	</form>

<!--SIGN-IN FORM-->

  <div id="button">
	  <button class="button1">SIGN IN HERE</a></button>

  </div>  <!-- end of div button -->

    <form div id="signup" method="POST" action="/sign-up">

			<label for="fname">First Name:</label><br>
			<input id="name" class="input" name="fname" type="text" value="" size="30" /><br>

<<<<<<< HEAD
			<label for="lname">Last Name:</label><br>
			<input id="name" class="input" name="lname" type="text" value="" size="30" /><br>

=======
				<label for="lname">Last Name:</label><br>
				<input id="name" class="input" name="lname" type="text" value="" size="30" /><br>
>>>>>>> 47710b87d8789cf8f42b7add21802dd0758d45b7
						     
			<label for="email">E-mail:</label><br>
			<input id="email" class="input" name="email" type="text" value="" size="30" /><br>

<<<<<<< HEAD
			<label for="pword">Password:</label><br>
			<input id="pword" class="input" name="pword" type="text" value="" size="30" /><br>

			<label for="uname">Username:</label><br>
			<input id="uname" class="input" name="uname" type="text" value="" size="30" /><br>
=======
			  <label for="password">Password:</label><br>
			  <input id="password" class="input" name="password" type="text" value="" size="30" /><br>

			  <label for="username">Username:</label><br>
			  <input id="username" class="input" name="username" type="text" value="" size="30" /><br>
>>>>>>> 47710b87d8789cf8f42b7add21802dd0758d45b7

			<label for="location">Location:</label><br>
			<input id="location" class="input" name="location" type="text" value="" size="30" /><br>

<<<<<<< HEAD
			<label for="age">Age:</label><br>
			<input id="age" class="input" name="name" type="integer" value="" size="4" /><br>
=======
			  <label for="age">Age:</label><br>
			  <input id="age" class="input" name="age" type="integer" value="" size="4" /><br>
>>>>>>> 47710b87d8789cf8f42b7add21802dd0758d45b7

			<button class="button2"><input id="submit_button" type="submit" value="Submit" /></button>
	    
	</form> 
</div> <!-- END OF div LOG-->



