<head>
	<title>Cinematography Blog</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Raleway|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<script src="js/script.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>


<body id="homebody">


	<h1>ALL MEMBERS</h1>

<nav>
	<ul>
		<li><a href="/home">Home</a></li>
		<li><a href="/profile">My Profile</a></li>
		<li><a class='active' href='/members'>All Members</a></li>
		<li><a href="/logout">Logout</a></li>
	</ul>
</nav>

	
<div id="postbody">
	<% @users.reverse.each do |x| %>
		<div id='recent-post'>
			<a href="/<%= x.id %>">
			<h2><%= x.username %></h2>
		</div>
	<br>
	<% end %>
</div>