body {
	margin: 0 auto;
	background-color: white;
	text-align: center;

}

img {
	width: 50px;
	height: 50px;
}

#button {
	margin-top: 30px;
}

#wrapper{
	height: 100%
	width:100%;
}

#signup {
	display: none;
	width: 400px;
	height: 300px;
	border:2px solid black;
	margin-left: 200px;
	background-color: white;

}

.button2 {
	margin-top: 5px;
}
