body {
	margin: 0 auto;
	background-color: white;
	text-align: center;

}

img {
	width: 50px;
	height: 50px;
}

#button {
	margin-top: 30px;
}

#wrapper{
	height: 100%
	width:100%;
}

#signup {
	display: none;
	width: 400px;
	height: 300px;
	border:2px solid black;
	margin-left: 200px;
	background-color: white;

}

.button2 {
	margin-top: 5px;
}

#post {
	height: 50px;
	width: 600px;
	margin-top: 20px;

}
#button {
	margin-left: 300px;
}
#title {
	margin-top: 30px;
  margin-right: 450px;
	background-color: #EDBB99;
}
.form {
	width: 700px;
	height: 200px;
	background-color: #5DADE2;
	margin-left: 320px;
}


/*---NAV BAR---*/

li {
	float: left;
}

li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #9eb1b1;
	color: white;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #0e3e3c;
}

.active {
	background-color: #ced8d8;
	color: #0e3e3c;
}

/*------*/






